@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-darker text-slate-200 font-sans overflow-x-hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-mono;
  }
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px rgba(255, 0, 85, 0.5), 0 0 20px rgba(255, 0, 85, 0.3);
  }

  .border-glow {
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.3);
  }

  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #ff0055 #120024;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #120024;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #ff0055;
    border-radius: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #d40045;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #120024;
}

::-webkit-scrollbar-thumb {
  background: #ff0055;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d40045;
}
